@font-face {
  font-family: 'iconfont';
  src: url('~@/assets/font/iconfont.woff2') format('woff2'),
       url('~@/assets/font/iconfont.woff') format('woff'),
       url('~@/assets/font/iconfont.ttf') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-family: Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*定义滚动条高宽——高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/*定义滑块 颜色*/
::-webkit-scrollbar-thumb {
  background-color: #3eaf7c;
}
